@import "src/styles/scaffold";

.fs-banner-img-text {
  display: flex;
  width: 100%;
  margin: 20px 0;

  @include media("<tablet") {
    flex: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  [data-fs-banner-img-text-container] {
    width: 25%;

    [data-fs-banner-img-text-i] {
      > img {
        width: 100%;
      }
    }

    [data-fs-banner-img-text-t] {
      font-size: 20px;
      font-style: italic;
      font-weight: 600;
      color: #003a61;
      text-align: center;

      @include media("<tablet") {
        font-size: 14px;
      }
    }
  }
}
