@import 'src/styles/scaffold';

.fs-img-section {
  width: 100%;
  display: flex;
  justify-content: center;

  [data-fs-img-section-item] {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;

    img {
      width: 100%;
    }
  }

  @include media('<notebook') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 100%;
    min-width: 280px;

    [data-fs-img-section-item] {
      img {
        width: 100%;
      }
    }
  }
}
